In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import os
import csv

# Study data files
FEMA_data = "FEMA_data.csv"
US_Presidents = "USpresidents.csv"

FEMA_df = pd.read_csv(FEMA_data)
Pres_df = pd.read_csv(US_Presidents)

In [4]:
#write missing president data to president dataframe
with open(US_Presidents, "a") as myfile:
    writer=csv.writer(myfile, delimiter=",")
    myfile.write('\n')
    writer.writerow(['2014', 'Barack Obama', 'Democrat'])
    writer.writerow(['2015', 'Barack Obama', 'Democrat'])
    writer.writerow(['2016', 'Barack Obama', 'Democrat'])
    writer.writerow(['2017', 'Donald Trump', 'Republican'])

In [5]:
# Pull out year in Start Date in FEMA data 
FEMA_df_start_date = pd.to_datetime(FEMA_df['Start Date'])
FEMA_df_end_date = pd.to_datetime(FEMA_df['End Date'])

disaster_length = FEMA_df_end_date - FEMA_df_start_date

In [6]:
disaster_length

0       0 days
1       0 days
2       0 days
3       0 days
4       0 days
         ...
46180   9 days
46181   9 days
46182   9 days
46183   9 days
46184   9 days
Length: 46185, dtype: timedelta64[ns]

In [7]:
FEMA_df['Year'] = pd.DatetimeIndex(FEMA_df['Start Date']).year
FEMA_df['End Year'] = pd.DatetimeIndex(FEMA_df['End Date']).year
Pres_df = Pres_df.rename(columns={"Years (after inauguration)":"Year"})

In [8]:
Pres_df

     Year          President       Party
0    1789  George Washington        None
1    1790  George Washington        None
2    1791  George Washington        None
3    1792  George Washington        None
4    1793  George Washington        None
..    ...                ...         ...
226  2013       Barack Obama    Democrat
227  2014       Barack Obama    Democrat
228  2015       Barack Obama    Democrat
229  2016       Barack Obama    Democrat
230  2017       Donald Trump  Republican

[231 rows x 3 columns]

In [9]:
merged_df = pd.merge(FEMA_df, Pres_df, on="Year", how="left")

In [10]:
merged_df

,Declaration Number,Declaration Type,Declaration Date,State,County,Disaster Type,Disaster Title,Start Date,End Date,Close Date,Individual Assistance Program,Individuals & Households Program,Public Assistance Program,Hazard Mitigation Program,Year,End Year,President,Party
0,DR-1,Disaster,05/02/1953,GA,NaN,Tornado,Tornado,05/02/1953,05/02/1953,06/01/1954,Yes,No,Yes,Yes,1953,1953.0,Dwight D. Eisenhower,Republican
1,DR-2,Disaster,05/15/1953,TX,NaN,Tornado,Tornado and Heavy Rainfall,05/15/1953,05/15/1953,01/01/1958,Yes,No,Yes,Yes,1953,1953.0,Dwight D. Eisenhower,Republican
2,DR-3,Disaster,05/29/1953,LA,NaN,Flood,Flood,05/29/1953,05/29/1953,02/01/1960,Yes,No,Yes,Yes,1953,1953.0,Dwight D. Eisenhower,Republican
3,DR-4,Disaster,06/02/1953,MI,NaN,Tornado,Tornado,06/02/1953,06/02/1953,02/01/1956,Yes,No,Yes,Yes,1953,1953.0,Dwight D. Eisenhower,Republican
4,DR-5,Disaster,06/06/1953,MT,NaN,Flood,Floods,06/06/1953,06/06/1953,12/01/1955,Yes,No,Yes,Yes,1953,1953.0,Dwight D. Eisenhower,Republican
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46180,DR-4301,Disaster,02/14/2017,CA,Sutter County,Storm,"Severe Winter Storms, Flooding, and Mudslides",01/03/2017,01/12/2017,NaN,No,No,Yes,Yes,2017,2017.0,Donald Trump,Republican
46181,DR-4301,Disaster,02/14/2017,CA,Trinity County,Storm,"Severe Winter Storms, Flooding, and Mudslides",01/03/2017,01/12/2017,NaN,No,No,Yes,Yes,2017,2017.0,Donald Trump,Republican
46182,DR-4301,Disaster,02/14/2017,CA,Tuolumne County,Storm,"Severe Winter Storms, Flooding, and Mudslides",01/03/2017,01/12/2017,NaN,No,No,Yes,Yes,2017,2017.0,Donald Trump,Republican
46183,DR-4301,Disaster,02/14/2017,CA,Yolo County,Storm,"Severe Winter Storms, Flooding, and Mudslides",01/03/2017,01/12/2017,NaN,No,No,Yes,Yes,2017,2017.0,Donald Trump,Republican
46184,DR-4301,Disaster,02/14/2017,CA,Yuba County,Storm,"Severe Winter Storms, Flooding, and Mudslides",01/03/2017,01/12/2017,NaN,No,No,Yes,Yes,2017,2017.0,Donald Trump,Republican

In [27]:
president_group = merged_df.groupby(["President"])["Declaration Number"].nunique()

In [28]:
president_group

President
Barack Obama             763
Bill Clinton             554
Donald Trump               8
Dwight D. Eisenhower     106
George Bush              159
George W. Bush          1033
Gerald Ford              133
Jimmy Carter             176
John F. Kennedy           34
Lyndon B. Johnson        111
Richard M. Nixon         157
Ronald Reagan            193
Name: Declaration Number, dtype: int64

In [22]:
president_term = merged_df.groupby(["President"])["Year"].nunique()

In [23]:
president_term

President
Barack Obama            8
Bill Clinton            8
Donald Trump            1
Dwight D. Eisenhower    8
George Bush             4
George W. Bush          8
Gerald Ford             3
Jimmy Carter            4
John F. Kennedy         2
Lyndon B. Johnson       6
Richard M. Nixon        5
Ronald Reagan           8
Name: Year, dtype: int64

In [24]:
president_year = merged_df.groupby(["President"])["Year"].count()

In [26]:
president_year.head()

President
Barack Obama            10227
Bill Clinton             9802
Donald Trump               82
Dwight D. Eisenhower      106
George Bush              2074
Name: Year, dtype: int64

In [30]:
cleaned_df = merged_df[["Year", "President", "Party", "Declaration Number","Declaration Type", "Disaster Type", "State", "Start Date", "End Date"]]

In [31]:
cleaned_df

,Year,President,Party,Declaration Number,Declaration Type,Disaster Type,State,Start Date,End Date
0,1953,Dwight D. Eisenhower,Republican,DR-1,Disaster,Tornado,GA,05/02/1953,05/02/1953
1,1953,Dwight D. Eisenhower,Republican,DR-2,Disaster,Tornado,TX,05/15/1953,05/15/1953
2,1953,Dwight D. Eisenhower,Republican,DR-3,Disaster,Flood,LA,05/29/1953,05/29/1953
3,1953,Dwight D. Eisenhower,Republican,DR-4,Disaster,Tornado,MI,06/02/1953,06/02/1953
4,1953,Dwight D. Eisenhower,Republican,DR-5,Disaster,Flood,MT,06/06/1953,06/06/1953
...,...,...,...,...,...,...,...,...,...
46180,2017,Donald Trump,Republican,DR-4301,Disaster,Storm,CA,01/03/2017,01/12/2017
46181,2017,Donald Trump,Republican,DR-4301,Disaster,Storm,CA,01/03/2017,01/12/2017
46182,2017,Donald Trump,Republican,DR-4301,Disaster,Storm,CA,01/03/2017,01/12/2017
46183,2017,Donald Trump,Republican,DR-4301,Disaster,Storm,CA,01/03/2017,01/12/2017
46184,2017,Donald Trump,Republican,DR-4301,Disaster,Storm,CA,01/03/2017,01/12/2017

In [34]:
cleaned_df = cleaned_df.drop_duplicates(subset = ["Declaration Number"], keep="first")

In [35]:
cleaned_df

,Year,President,Party,Declaration Number,Declaration Type,Disaster Type,State,Start Date,End Date
0,1953,Dwight D. Eisenhower,Republican,DR-1,Disaster,Tornado,GA,05/02/1953,05/02/1953
1,1953,Dwight D. Eisenhower,Republican,DR-2,Disaster,Tornado,TX,05/15/1953,05/15/1953
2,1953,Dwight D. Eisenhower,Republican,DR-3,Disaster,Flood,LA,05/29/1953,05/29/1953
3,1953,Dwight D. Eisenhower,Republican,DR-4,Disaster,Tornado,MI,06/02/1953,06/02/1953
4,1953,Dwight D. Eisenhower,Republican,DR-5,Disaster,Flood,MT,06/06/1953,06/06/1953
...,...,...,...,...,...,...,...,...,...
46135,2017,Donald Trump,Republican,DR-4299,Disaster,Storm,OK,01/13/2017,01/16/2017
46145,2017,Donald Trump,Republican,DR-4300,Disaster,Tornado,LA,02/07/2017,02/07/2017
46147,2017,Donald Trump,Republican,DR-4302,Disaster,Storm,CA,01/03/2017,01/05/2017
46148,2017,Donald Trump,Republican,EM-3381,Emergency,Dam/Levee Break,CA,02/07/2017,NaN
46151,2017,Donald Trump,Republican,DR-4301,Disaster,Storm,CA,01/03/2017,01/12/2017

In [44]:
president_disaster_count = pd.DataFrame(data=
        {"President Term":president_term, 
        "Disaster Count":president_group})

In [45]:
president_disaster_count

                      President Term  Disaster Count
President
Barack Obama                       8             763
Bill Clinton                       8             554
Donald Trump                       1               8
Dwight D. Eisenhower               8             106
George Bush                        4             159
George W. Bush                     8            1033
Gerald Ford                        3             133
Jimmy Carter                       4             176
John F. Kennedy                    2              34
Lyndon B. Johnson                  6             111
Richard M. Nixon                   5             157
Ronald Reagan                      8             193

In [82]:
pres_party = pd.merge(president_disaster_count, cleaned_df[["Party", "President"]], on="President", how="left")
pres_party = pres_party.drop_duplicates(keep="first").reset_index()
pres_party

    index             President  President Term  Disaster Count       Party
0       0          Barack Obama               8             763    Democrat
1     763          Bill Clinton               8             554    Democrat
2    1317          Donald Trump               1               8  Republican
3    1325  Dwight D. Eisenhower               8             106  Republican
4    1431           George Bush               4             159  Republican
5    1590        George W. Bush               8            1033  Republican
6    2623           Gerald Ford               3             133  Republican
7    2756          Jimmy Carter               4             176    Democrat
8    2932       John F. Kennedy               2              34    Democrat
9    2966     Lyndon B. Johnson               6             111    Democrat
10   3077      Richard M. Nixon               5             157  Republican
11   3234         Ronald Reagan               8             193  Republican

In [83]:
pres_party = pres_party.drop(columns="index")

In [84]:
#pres_party = pd.DataFrame(index_col = "President")

In [81]:
pres_party

               President  President Term  Disaster Count       Party
0           Barack Obama               8             763    Democrat
1           Bill Clinton               8             554    Democrat
2           Donald Trump               1               8  Republican
3   Dwight D. Eisenhower               8             106  Republican
4            George Bush               4             159  Republican
5         George W. Bush               8            1033  Republican
6            Gerald Ford               3             133  Republican
7           Jimmy Carter               4             176    Democrat
8        John F. Kennedy               2              34    Democrat
9      Lyndon B. Johnson               6             111    Democrat
10      Richard M. Nixon               5             157  Republican
11         Ronald Reagan               8             193  Republican

In [88]:
pres_party["Avg Declarations per Year"] = pres_party["Disaster Count"] / pres_party["President Term"]

In [89]:
pres_party

,President,President Term,Disaster Count,Party,Avg Declarations per Year
0,Barack Obama,8,763,Democrat,95.375000
1,Bill Clinton,8,554,Democrat,69.250000
2,Donald Trump,1,8,Republican,8.000000
3,Dwight D. Eisenhower,8,106,Republican,13.250000
4,George Bush,4,159,Republican,39.750000
5,George W. Bush,8,1033,Republican,129.125000
6,Gerald Ford,3,133,Republican,44.333333
7,Jimmy Carter,4,176,Democrat,44.000000
8,John F. Kennedy,2,34,Democrat,17.000000
9,Lyndon B. Johnson,6,111,Democrat,18.500000
10,Richard M. Nixon,5,157,Republican,31.400000
11,Ronald Reagan,8,193,Republican,24.125000